<div class="container border">
  <nav>
    <ul>
      <li><a routerLink="/admin" class="logo">
        <img src="../../../assets/images/employee-logo.png">
        <span class="nav-item">Employee</span>
      </a></li>
      <li><a routerLink="jobpost"> <i class="bi fa-2x bi-file-earmark-plus"></i>
        <span class="nav-item">Job Post</span>
      </a></li> 
      <li><a routerLink="manage_job"> <i class="bi  fa-2x bi-person-gear"></i>
        <span class="nav-item">Manage Job</span>
      </a></li> 
      <li><a routerLink="profile_match"> <i class="bi fa-2x bi-search"></i>
        <span class="nav-item">Profile Match</span>
      </a></li>
      <li><a routerLink="manage_account"> <i class="bi fa-2x bi-person-gear"></i>
        <span class="nav-item">Manage Account</span>
      </a></li>

      <li><a routerLink="" class="logout"> <i class="bi fa-2x bi-box-arrow-left"></i>
        <span class="nav-item">Log out</span>
      </a></li>
    </ul>
  </nav>


  <section class="main">
<router-outlet></router-outlet>
   

    
  </section>
</div>
