<div class="card">
    
    <div class="container">
        
        <div class="table-responsive table-card pt-5">
            <div class="main-top">
                <h1>Total Accounts</h1>
                <i class="fas fa-user-cog"></i>
              </div>
            <table class="table text-nowrap mb-0 table-centered table-hover">
                <thead class="table-dark">
                    <tr>
                        
                        <th>Role</th>
                        <th>Total Number</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Employee</td>
                    <td>12</td>
                    <td></td>
                  </tr>
                <tr>
                    <td>Alumni</td>
                    <td>42</td>
                  </tr>



              </tbody>
                </table>
              </div>
              
    </div>
</div>