<div class="application">
    <h1 class="heading">Job Application</h1>
    <div class="job-description"> 
      <div class="box">
              <div class="company">
                  <img src="../../../../assets/images/jobpost1.png" alt="">
              </div>
              <div class="title">
                <h3>Corporate</h3>
                <p>2 days ago</p>
            </div>


              <h3 class="job-title">senior web developer</h3>
              <p class="location"><i class="bi bi-geo-alt"></i>
                  <span>Mumbai ,India</span></p>
                  <p class="job-description"><span>Job Description: </span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto blanditiis provident deleniti nobis totam id voluptates cupiditate iste facilis quo, aut perferendis molestiae magni aperiam sunt recusandae. Suscipit, incidunt soluta molestias tenetur cupiditate libero officiis quo facilis exercitationem deserunt repudiandae voluptatum nesciunt. Alias molestias quia quos? Sequi quaerat doloremque doloribus!</p>



          <div class="tags">
              <p><i class="bi bi-currency-rupee"></i><span>10k - 25k</span></p>
              <p><i class="bi bi-briefcase"></i><span>Part-time</span></p>
              <p><i class="bi bi-clock"></i><span>Full-time</span></p>
          </div>

      </div>
</div>


        <form>
          <h2 class="fill">FILL THE APPLICATION</h2>
            <div class="mb-3">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control">
              </div>
        
              <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control">
              </div>


                <div class="mb-3">
                    <label class="form-label">Phone</label>
                    <input type="tel" class="form-control">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>

                  <div class="mb-3">
                    <label for="inputPassword5" class="form-label">Password</label>
                <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock">
                <div id="passwordHelpBlock" class="form-text">
                  Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Course</label>
                    <input type="text" class="form-control">
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Highest Qualification</label>
                    <input type="text" class="form-control">
                  </div>
        
                  <div class="mb-3">
                    <label class="form-label">Marks In Percentage</label>
                    <input type="text" class="form-control">
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Skills</label>
                    <input type="text" class="form-control">
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Upload Resume</label>
                    <input type="file" class="form-control" id="inputGroupFile02">
                  </div>
                  <p class="OR">OR</p>
                  <div class="mb-3">
                    <label class="form-label">Link To Your Resume </label>
                    <input type="text" class="form-control">
                  </div>

                  <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>

