<div class="application">
    <h1 class="heading">Job Application</h1>
    <div class="job-description"> 
      <div class="box" >
              <div class="company">
                  <img src="{{jobapply.Company_Logo}}" alt="">
              </div>
              <div class="title">
                <h3>{{jobapply.Company_Name}}</h3>
                <p>{{jobapply.start_Date}}</p>
            </div>


              <h3 class="job-title">{{jobapply.Job_Title}}</h3>
              <p class="location"><i class="bi bi-geo-alt"></i>
                  <span>{{jobapply.Job_locaion}}</span></p>
                  <p class="job-description"><span>Job Description: </span>{{jobapply.description}}</p>



          <div class="tags">
              <p><i class="bi bi-currency-rupee"></i><span>{{jobapply.Salary}}</span></p>
              <p><i class="bi bi-briefcase"></i><span>Part-time</span></p>
              <p><i class="bi bi-clock"></i><span>Full-time</span></p>
          </div>

      </div>
</div>


    <form class="col-md-6">
          <h2 class="fill">FILL THE APPLICATION</h2>
          <div class="mb-3">
            <label class="form-label">First Name</label>
            <input type="text" name="firstname" [(ngModel)]="jobDetails.firstname" class="form-control">
          </div>
    
          <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input type="text" name="lastname" [(ngModel)]="jobDetails.lastname" class="form-control">
          </div>
          
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" name="email" [(ngModel)]="jobDetails.email" class="form-control" id="exampleFormControlInput1" placeholder="example@gmail.com">
          </div>
    
      <div class="mb-3">
        <label class="form-label">Phone</label>
        <input type="tel" name="phone" [(ngModel)]="jobDetails.phone" class="form-control">
      </div>

      <div class="mb-3">
        <label class="form-label">Course </label>
        <select class="form-select" name="course" [(ngModel)]="jobDetails.course" aria-label="Default select example">
            <option selected disabled>Select course</option>
            <option value="FSD">FSD</option>
            <option value="DSA">DSA</option>
            <option value="ML-AI">ML-AI</option>
            <option value="RPA">RPA</option>
            <option value="ST">ST</option>
            <option value="CSA">CSA</option>
          </select>
      </div>
    
      <div class="mb-3">
        <label class="form-label">Highest Qualification</label>
        <input type="text" name="highestQualification" [(ngModel)]="jobDetails.highestQualification" class="form-control">
      </div>
    
      <div class="mb-3">
        <label class="form-label">Marks in Percentage</label>
        <input type="text" name="percentage" [(ngModel)]="jobDetails.percentage" class="form-control">
      </div>
    
      <div class="mb-3">
        <label class="form-label">Skills</label>
        <input type="text" name="skills" [(ngModel)]="jobDetails.skills" class="form-control">

      </div>
    
      <div class="mb-3">
        <label class="form-label">Upload Resume</label>
        <input type="file" class="form-control"  name="uploadResume" [(ngModel)]="jobDetails.uploadResume">

      </div>
      
        <div class="OR">
          <p>OR</p>
        </div>
      <div class="mb-3">
        <label class="form-label">Link of your resume</label>
        <input type="text" name="resumeLink" [(ngModel)]="jobDetails.resumeLink" class="form-control">
      </div>
    
      <!-- Hidden data -->
      <!-- HiddenData to be hidden -->
      <button class="btn btn-primary click" (click)="applyJob()" >Final Submit</button>
    
    </form>
</div>

