.application{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    font-size: 40px;
    font-weight: 700;
    margin-top: 50px;
}
.title h3{
    font-weight: 600;
    font-size: 35px;
}


.company{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.job-title{
    font-size: 20px;
    font-weight: 600;
}

.tags{
    display: flex;

}
.tags p{
    background-color: #EEEEEE;
    padding: 10px 30px;
    margin-right: 15px;


}

.tags p span{
    margin-left: 5px;
    color: gray;
}

.job-description{
    width: 500px;
    text-align: justify;
}
.job-description span{
    font-weight: 600;
}

.location span{
    margin-left: 5px;
}

/* form */

form{
    margin-top: 50px;
}
.OR{
    margin: 20px 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;

}
