/* *{
    padding: 0;
    margin: 0;
    color: #643434;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
} */

.whole-bg::before{
    background-image: url('../../../assets/images/bg cont.webp');
    width: 100%;
    /* height: 100%; */
    /* background-size: 100% 110vh; */
    position: fixed;
    background-repeat: no-repeat;
    /* background-color: rgba(255,255,255,0.2); */

    /* color: #643434;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none; */
    /* opacity: .35; */
    background-size: cover;
    
   
    
  
}
header{
    position: absolute;
    text-align: center;
    width: 75%;
    left: 12%;
    top: 2rem;
}
header h1{
    font-size: 30px;
    color: white;
}
.empty{
     width: 100%; 
     height: 100vh; 
    
    background-image: url('../../../assets/images/bg cont.webp');
    background-size: cover;
    

    position: fixed;
    top: 0px;
    left: 0;
    z-index: -1;
}

.content{
    display: flex;
    min-height: 110vh;
}
.content section{
    margin-top: 8vh;
    margin-left: 20vh;
}
.content-form{
    margin-top: 7rem;
}
section i{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.2);
    color: white;
    text-align: center;
}
section p{
    color: white;
}
.form{
    display: flex;
    position: absolute;
    top: 80px;
    left: 0;
    margin-left: 50%;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
}

.form .contact-form input{
    width: 30rem;
    background-color: transparent;
    border: 0px;
    border: transparent;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    border-bottom: 2px solid #fff;
}
.form .contact-form input ~ span{
    position: absolute;
    left: 20px;
    transition: 0.9s ease-in-out;
    margin-top: 10px;
}
.form .contact-form input:focus ~span{
    transform: translateY(-20px);
    pointer-events: none;
}
.form .contact-form textarea{
    width: 30rem;
    border: 0px;
    background-color: transparent;
    margin: 20px;
    font-size: 17px;
    border-bottom: 2px solid white;
}
.form .contact-form textarea ~ span
{
    position: absolute;
    left: 20px;
    margin-top: 10px;
    transition: 0.9s ease-in-out;
}
.form .contact-form textarea:focus ~span{
    transform: translateY(-20px);
    pointer-events: none;
}
.form .contact-form input[type=submit]{
    background-color: rgb(11, 170, 209);
    border: 2px solid rgb(11, 170, 209);
    font-size: 18px;
    width: 50%;
    height: 40px;
    margin-top: -6px;
}
.form .contact-form input[type=submit]:hover{
    background-color: transparent;
    color: white;
}
.media{
    position: absolute;
    top: 85vh;
    right: 20vh;
    display: flex;
    list-style: none;
    margin-top: 5px;
    
}
.media li{
    margin: 20px 30px;
    color: white;
}
@media screen and (max-width: 900px){
    body{
        background-repeat: repeat-y;
        overflow: auto;
    }
    header{
        position: absolute;
        left: 0;
        top: 20%;
        width: 100%;
    }
    .empty{
        height: 210vh;
    }
    .form{
        position: absolute;
        top: 100vh;
        margin-left: 10%;
    }
    .content-form{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
        margin-top: 53vh;
        margin-left: 10vh;
    }
    .content section{
        margin-top: 0vh;
        margin-left: 0vh;
    }
    .media{
        position: absolute;
        top: 190vh;
        right: 30px;
    }
}

.content h2{
    color: white;
}

.contact-form span{
    color: white;
}
.contact-form input{
    color: white;
}
header p{
    color: white;
}