
  
     <!-- table -->
  
  <div class="employee">
    <div class="card-body">
        <div class="table-responsive table-card">
            <table class="table text-nowrap mb-0 table-centered table-hover">
                <thead class="table-dark">
                    <tr>
                        
                        <th>Course</th>
                        <th>Count</th>
                        
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{coursename.name}}</td>
                    <td>{{coursecount.count}}</td>
                   
                  </tr>
                 
    
              </tbody>
                </table>
              </div>
              </div>
  </div>
     
    
