
  
     <!-- table -->
  
  <div class="employee">
    <div class="card-body">
        <div class="table-responsive table-card">
            <table class="table text-nowrap mb-0 table-centered table-hover">
                <thead class="table-dark">
                    <tr>
                        
                        <th>Course</th>
                        <th>Count</th>
                        
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Full Stack Development</td>
                    <td>45</td>
                   
                  </tr>
                  <tr>
                    <td>CSA</td>
                    <td>60</td>
                   
                  </tr>
                  <tr>
                    <td>Machine Learning</td>
                    <td>50</td>
                   
                  </tr>
                  <tr>
                    <td>DataScience</td>
                    <td>90</td>
                   
                  </tr>
                  <tr>
                    <td>Web Designing</td>
                    <td>30</td>
                    
                  </tr>
                  
    
    
              </tbody>
                </table>
              </div>
              </div>
  </div>
     
    
