
<section class="alumni-component">
    <div class="row">
        <div class="col-lg-2">
        <div class="main-box">
            <div class="side-menu-list">
                <ul class="menu-items">
                    <li (click)="goTo('Home')"><i class="fa fa-home"></i>Home</li>
                    <li (click)="goTo('Manage job post')"><i class="fa fa-home"></i>Manage job post</li>
                    <li (click)="goTo('Manage account')"><i class="fa fa-home"></i>Manage account</li>
                </ul>
            </div>
        </div>
        </div>



        <div class="col-lg-10">
            <div class="side-menu-content">
                <div class="tabs" *ngIf="selectedMenu == 'Home'">
                    this is Home
                </div>

                <div class="tabs" *ngIf="selectedMenu == 'Manage job post'">
                    this is Manage previous job post
                </div>

                <div class="tabs" *ngIf="selectedMenu == 'Manage account'">
                    this is Manage account
                </div>


            </div>
        </div>
    </div>
</section>