<div class="container">
    <nav>
      <ul>
        <li><a href="#" class="logo">
          <img src="../../../assets/images/alumni.jfif">
          <span class="nav-item">{{alumniname}}</span>
        </a></li>
        <li><a routerLink="/alumni/manageJobPost"><i class="bi fa-2x bi-file-check"></i>
          <span class="nav-item">Manage Job Post</span>
        </a></li>
        <li><a routerLink="/alumni/manageAccount"><i class="bi  fa-2x bi-person-gear"></i>
          <span class="nav-item">Manage Account</span>
        </a></li>

        <li><a routerLink="" class="logout"><i class="bi fa-2x bi-box-arrow-left"></i>
          <span class="nav-item">Log out</span>
        </a></li>
      </ul>
    </nav>


    <section class="main">
    <section class="right-section">
        <div class="right-content">
            <router-outlet></router-outlet>
        </div>
    </section>
    </section>
</div>
