<section class="jobs-container ">
    <h1 class="heading">Manage Your Job Application</h1>
    
    <div class="box-container">
        <!-- 1 -->
        <div class="box-main">
            <div class="boxes">
                <div class="company">
                    <img src="../../../../assets/images/jobpost1.png" alt="">
                    <div>
                        <h3>Corporate</h3>
                    </div>
                </div>
                <h3 class="job-title">senior web developer</h3>
                <p class="posted-date">2 days ago</p>
                <p class="location"><i class="bi bi-geo-alt"></i>
                    <span>Mumbai ,India</span></p>
                <div class="tags">
                    <p><i class="bi bi-currency-rupee"></i><span>10k - 25k</span></p>
                    <p><i class="bi bi-briefcase"></i><span>Part-time</span></p>
                    <p><i class="bi bi-clock"></i><span>Full-time</span></p>
                </div>
                <div class="flex-btn">
                    <a href="" class="btn btn-primary">Update</a>
                    <a href="" class="btn btn-danger">Withdrawal</a>
                </div>
            </div>
        </div>

        <div class="box-main">
            <div class="boxes">
                <div class="company">
                    <img src="../../../../assets/images/jobpost1.png" alt="">
                    <div>
                        <h3>Corporate</h3>
                    </div>
                </div>
                <h3 class="job-title">senior web developer</h3>
                <p class="posted-date">2 days ago</p>
                <p class="location"><i class="bi bi-geo-alt"></i>
                    <span>Mumbai ,India</span></p>
                <div class="tags">
                    <p><i class="bi bi-currency-rupee"></i><span>10k - 25k</span></p>
                    <p><i class="bi bi-briefcase"></i><span>Part-time</span></p>
                    <p><i class="bi bi-clock"></i><span>Full-time</span></p>
                </div>
                <div class="flex-btn">
                    <a href="" class="btn btn-primary">Update</a>
                    <a href="" class="btn btn-danger">Withdrawal</a>
                </div>
            </div>
        </div>

        <div class="box-main">
            <div class="boxes">
                <div class="company">
                    <img src="../../../../assets/images/jobpost1.png" alt="">
                    <div>
                        <h3>Corporate</h3>
                    </div>
                </div>
                <h3 class="job-title">senior web developer</h3>
                <p class="posted-date">2 days ago</p>
                <p class="location"><i class="bi bi-geo-alt"></i>
                    <span>Mumbai ,India</span></p>
                <div class="tags">
                    <p><i class="bi bi-currency-rupee"></i><span>10k - 25k</span></p>
                    <p><i class="bi bi-briefcase"></i><span>Part-time</span></p>
                    <p><i class="bi bi-clock"></i><span>Full-time</span></p>
                </div>
                <div class="flex-btn">
                    <a href="" class="btn btn-primary">Update</a>
                    <a href="" class="btn btn-danger">Withdrawal</a>
                </div>
            </div>
        </div>


        <div class="box-main">
            <div class="boxes">
                <div class="company">
                    <img src="../../../../assets/images/jobpost1.png" alt="">
                    <div>
                        <h3>Corporate</h3>
                    </div>
                </div>
                <h3 class="job-title">senior web developer</h3>
                <p class="posted-date">2 days ago</p>
                <p class="location"><i class="bi bi-geo-alt"></i>
                    <span>Mumbai ,India</span></p>
                <div class="tags">
                    <p><i class="bi bi-currency-rupee"></i><span>10k - 25k</span></p>
                    <p><i class="bi bi-briefcase"></i><span>Part-time</span></p>
                    <p><i class="bi bi-clock"></i><span>Full-time</span></p>
                </div>
                <div class="flex-btn">
                    <a href="" class="btn btn-primary">Update</a>
                    <a href="" class="btn btn-danger">Withdrawal</a>
                </div>
            </div>
        </div>


        <div class="box-main">
            <div class="boxes">
                <div class="company">
                    <img src="../../../../assets/images/jobpost1.png" alt="">
                    <div>
                        <h3>Corporate</h3>
                    </div>
                </div>
                <h3 class="job-title">senior web developer</h3>
                <p class="posted-date">2 days ago</p>
                <p class="location"><i class="bi bi-geo-alt"></i>
                    <span>Mumbai ,India</span></p>
                <div class="tags">
                    <p><i class="bi bi-currency-rupee"></i><span>10k - 25k</span></p>
                    <p><i class="bi bi-briefcase"></i><span>Part-time</span></p>
                    <p><i class="bi bi-clock"></i><span>Full-time</span></p>
                </div>
                <div class="flex-btn">
                    <a href="" class="btn btn-primary">Update</a>
                    <a href="" class="btn btn-danger">Withdrawal</a>
                </div>
            </div>
        </div>
    </div>
</section>
    