
<div class="bg">
    <div class="box">
        <div class="container">
            <div class="top-header">
                <span></span>
                <header>Signup</header>
            </div>
    
            
            <form  [formGroup]="data" (ngSubmit)="signupform(data)">

                <div class="input-field">
                    <input type="text" class="input" placeholder="Name" required formControlName="name">
                    <i class="bi bi-person"></i>
                </div>
                <div class="input-field">
                    <input type="email" class="input" placeholder="email" required formControlName="email">
                    <i class="bi bi-telephone"></i>
                    <small *ngIf="data.get('email').touched && data.get('email').errors">Enter valid email</small>
                </div>
                <div class="input-field">
                    <input type="password" class="input" placeholder="password" required formControlName="password">
                    <i class="bi bi-lock"></i>
                    <small *ngIf="data.get('password').touched && data.get('password').errors">Password required(minimum 6 characters)</small><br>
                      <span>{{msg}}</span>
                
                </div>
                <!-- <div class="input-field">
                    <input type="password" class="input" placeholder="re-enter password" required>
                    <i class="bi bi-lock"></i>
                
                </div> -->
        
                <div class="input-field">
                    <!-- <input type="submit" class="submit" value="Signup" > -->
                    <button routerLink="" > signup</button>
                </div>

            </form>
    
            <div class="bottom">
                
                <div class="right">
                    <label><a routerLink="/login"> click here to Login </a></label>
                </div>
            </div>
        </div>
    </div>
</div>

