*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
.bg{
    background: url('../../../assets/images/signupimg.jpg'),rgba(0,0,0,.9) no-repeat;
    background-size: cover;
    background-blend-mode: color;
    background-position: center;
    background-attachment: fixed;
    /* min-height: 100vh; */
    width: 100%;
    
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}
/* span{
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
} */

header{
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px ;
}

/* .input-field{
    display: flex;
    flex-direction: column;
} */
.input{
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: white;
    padding: 0 0 0 45px;
    background: rgba(225,225,225,0.4);
}

span{
    position: relative;
    top: -28px;
    left: 17px;
    color: black;
}

::-webkit-input-placeholder{
    color: white;
}

.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 37px;
    outline: none;
    width: 100%;
    background: rgba(0,0,0,0.4);
    color: white;
    cursor: pointer;
    transition: .3s;
    
}
button{
    width: 100%;
}

.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.3);
    color: wheat;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #fff;
    margin-top: 10px;
}
.left{
    display: flex;
}
label a{
    color: #fff;
    text-decoration: none;
}