
<!-- <style>
    body{
       
    background-image: url('/assets/images/login bg.jpg');
}
    
</style> -->
<div class="bg">
    <div class="box">
        <div class="container">
            <div class="top-header">
                <span>Have an account?</span>
                <header>Login</header>
            </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
            <div class="input-field">

                <input type="email" class="input" formControlName="email" placeholder="email" class="form-control"  [ngClass]="{'is-invalid':loggedin.email.errors&&(loggedin.email.touched||loggedin.email.dirty)}" >
                
                <div *ngIf="loggedin.email.invalid&&(loggedin.email.touched||loggedin.email.dirty)" class="invalid-feedback"> 
                <p *ngIf="loggedin.email.errors.required">Field cannot be empty</p>
                </div>
                <i class="bi bi-envelope-at"></i>

            </div>
    
            <div class="input-field">
                <input type="password" class="input" formControlName="password" class="form-control" placeholder="password"  [ngClass]="{'is-invalid':loggedin.password.errors&&(loggedin.password.touched||loggedin.password.dirty)}">
                <div *ngIf="loggedin.password.invalid&&(loggedin.password.touched||loggedin.password.dirty)" class="invalid-feedback">
                    <p *ngIf="loggedin.password.errors.required">Field cannot be empty</p>
                   <p *ngIf="loggedin.password.errors.minlength">Minimum length is eight</p>
                 
                   </div>
                <i class="bi bi-lock"></i>
            
            </div>
    
            <div class="input-field">
                <input type="submit" [disabled]="!loginForm.valid" class="submit" value="Login">
            </div>
            </form>
    
   
            <div class="bottom">
                <div class="left">
                    <input type="checkbox" id="check">
                    <label for="check">Remember me</label>
                </div>
                <div class="right">
                    <label><a href="#"> Forgot password? </a></label>
                </div>
            </div>
       
        </div>
    </div>
</div>

