
<!-- <style>
    body{
       
    background-image: url('/assets/images/login bg.jpg');
}
    
</style> -->
<div class="bg">
    <div class="box">
        <div class="container">
            <div class="top-header">
                <span>Have an account?</span>
                <header>Login</header>
            </div>
    <form [formGroup]="loginform" (ngSubmit)="proceedlogin()">
            <div class="input-field">
                <input type="text" class="input" formControlName="email" placeholder="email" required>
                <i class="bi bi-person"></i>
            </div>
    
            <div class="input-field">
                <input type="password" class="input" formControlName="password" placeholder="password" required>
                <i class="bi bi-lock"></i>
            
            </div>
    
            <div class="input-field">
                <input type="submit" class="submit" value="Login">
            </div>
    
            <div class="bottom">
                <div class="left">
                    <input type="checkbox" id="check">
                    <label for="check">Remember me</label>
                </div>
                <div class="right">
                    <label><a href="#"> Forgot password? </a></label>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

