<div class="container">
    <nav>
      <ul>
        <li><a routerLink="/admin" class="logo">
          <img src="../../../assets/images/bg cont.webp">
          <span class="nav-item">Admin</span>
        </a></li>
        <li><a routerLink="manage"> <i class="bi  fa-2x bi-person-gear"></i>
          <span class="nav-item">Manage Account</span>
        </a></li> 
        <li><a routerLink="verify"> <i class="bi fa-2x bi-file-check"></i>
          <span class="nav-item">Verify Job Post</span>
        </a></li>
        <li><a routerLink="/admin"> <i class="bi fa-2x bi-calendar2-event"></i>
          <span class="nav-item">Events Post</span>
        </a></li>

        <li><a routerLink="" class="logout"> <i class="bi fa-2x bi-box-arrow-left"></i>
          <span class="nav-item">Log out</span>
        </a></li>
      </ul>
    </nav>


    <section class="main">

        <router-outlet></router-outlet>
     

      
    </section>
  </div>
