<div class="container main-pag">
    
        <nav>
            <ul>
                <li><a href="" class="logo"><img src="" alt=""><span class="nav-item">Admin Dashboard</span></a></li>
                <li><a href=""><i class="fas bi bi-house-fill"></i><span class="nav-item">Home</span></a></li>
                <li><a href=""><i class="fas bi bi-person-fill"></i><span class="nav-item">Profile</span></a></li>
                <li><a href=""><i class="fas bi bi-person-fill"></i><span class="nav-item">Wallet</span></a></li>
                <li><a href=""><i class="fas bi bi-person-fill"></i><span class="nav-item">Analytica</span></a></li>
                <li><a href=""><i class="fas bi bi-person-fill"></i><span class="nav-item">Task</span></a></li>
                <li><a href=""><i class="fas bi bi-person-fill"></i><span class="nav-item">Settings</span></a></li>
                <li><a href=""><i class="fas bi bi-person-fill"></i><span class="nav-item">Home</span></a></li>
                <li><a href="" class="logout"><i class="fas bi bi-person-fill"></i><span class="nav-item">Logout</span></a></li>
                
            </ul>
        </nav>
    
    

</div>