<section class="attendance card">
    <div class="attendance-list">
      <h1>Applyed Job Verify</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Alumni Name</th>
            <th>Employer Name</th>
            <th>Job Title</th>
            <th>Employment type</th>
            <th>Mail id</th>
            <th>Course</th>
            <th>Verify</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Amal P</td>
            <td>Analitica</td>
            <td>Web Developer</td>
            <td>Full Time</td>
            <td>amal5444@gmail.com</td>
            <td>FSD</td>
            <td><button>Veriy</button> <button style="color: red;">Decline</button></td>
          </tr>
          <tr>
            <td>Akhil K</td>
            <td>Analitica</td>
            <td>Web Developer</td>
            <td>Full Time</td>
            <td>akhil52@gmail.com</td>
            <td>FSD</td>
            <td><button>Veriy</button> <button style="color: red;">Decline</button></td>
          </tr>
          <tr>
            <td>Akash</td>
            <td>Analitica</td>
            <td>Web Developer</td>
            <td>Full Time</td>
            <td>akash852@gmail.com</td>
            <td>FSD</td>
            <td><button>Veriy</button> <button style="color: red;">Decline</button></td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </section>