<section class="attendance card">
    <div class="attendance-list">
      <h1>Attendance List</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Alumni Name</th>
            <th>Employer Name</th>
            <th>Job Title</th>
            <th>JOb Description</th>
            <th>Mail id</th>
            <th>Course</th>
            <th>Verify</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Amal P</td>
            <td>Sam David</td>
            <td>Design</td>
            <td>03-24-22</td>
            <td>8:00AM</td>
            <td>3:00PM</td>
            <td><button>Veriy</button> <button style="color: red;">Decline</button></td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </section>