
 .dropdown-menu[data-bs-popper] {
  /* top: 100%; */
  left: 65%;
  margin-top: var(--bs-dropdown-spacer);
}
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #ff0000; }
    a:hover, a:focus {
      text-decoration: none !important;
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none; }
  
  .ftco-section {
    padding: 1em 0;
    background-color: white;
 }
   
  .ftco-navbar-light {
    background: #252525 !important;
    z-index: 3;
    padding: 0; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light {
        background: #000 !important;
        position: relative;
        top: 0;
        padding: 10px 15px; } }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav {
        padding-bottom: 10px; } }
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
      font-size: 11px;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      padding-left: 20px;
      padding-right: 20px;
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: relative;
      opacity: 1 !important; }
    
  .navbar-brand {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 30px; }
    .navbar-brand span {
      display: block;
      font-size: 12px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.3); }
    .navbar-brand:hover, .navbar-brand:focus {
      color: #000; }
  