
    <nav class="navbar navbar-expand-lg  ">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">ICTAK Job Potal</a>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink=""><i class="bi bi-house-fill"></i> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink=""><i class="bi bi-search"></i> Career</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink=""><i class="bi bi-telephone-fill"></i> Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink=""><i class="bi bi-person-fill"></i> About Us</a>
              </li>
              <li class="nav-item">
                <div class="btn-group">

                  <a class="nav-link btn-group " routerLink="" data-bs-toggle="dropdown">
                    Login
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Alumni Login</a></li>
                    <li><a class="dropdown-item" href="#">Employee Login</a></li>
                  </ul>

                </div>
               </li>
              <li class="nav-item">
                <div class="btn-group">

                  <a class="nav-link btn-group " routerLink="" data-bs-toggle="dropdown">
                    Register
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Alumni Register</a></li>
                    <li><a class="dropdown-item" href="#">Employee Register</a></li>
                  </ul>

                </div>
               </li>
            </ul>
          </div>
        </div>
      </nav>
