<!-- 

 <div class="container p-5">
    <div class="row">
        <div class="col-3">
            <div class="card shadow">
                <h4>Name: Amal</h4>
                <p>Email: amal521@gmail.com</p>
                <p>Qualification: Degree</p>
                <p>Course: FSD</p>
                <p>Current Status: Job Seeking</p>
            </div>
            <div class="card shadow">
                <h4>Name: Amal</h4>
                <p>Email: amal521@gmail.com</p>
                <p>Qualification: Degree</p>
                <p>Course: FSD</p>
                <p>Current Status: Job Seeking</p>
            </div>
            <div class="card shadow">
                <h4>Name: Amal</h4>
                <p>Email: amal521@gmail.com</p>
                <p>Qualification: Degree</p>
                <p>Course: FSD</p>
                <p>Current Status: Job Seeking</p>
            </div>
            <div class="card shadow">
                <h4>Name: Amal</h4>
                <p>Email: amal521@gmail.com</p>
                <p>Qualification: Degree</p>
                <p>Course: FSD</p>
                <p>Current Status: Job Seeking</p>
            </div>
            <div class="card shadow">
                <h4>Name: Amal</h4>
                <p>Email: amal521@gmail.com</p>
                <p>Qualification: Degree</p>
                <p>Course: FSD</p>
                <p>Current Status: Job Seeking</p>
            </div>
            <div class="card shadow">
                <h4>Name: Amal</h4>
                <p>Email: amal521@gmail.com</p>
                <p>Qualification: Degree</p>
                <p>Course: FSD</p>
                <p>Current Status: Job Seeking</p>
            </div>
            <div class="card shadow">
                <h4>Name: Amal</h4>
                <p>Email: amal521@gmail.com</p>
                <p>Qualification: Degree</p>
                <p>Course: FSD</p>
                <p>Current Status: Job Seeking</p>
            </div>
            <div class="card shadow">
                <h4>Name: Amal</h4>
                <p>Email: amal521@gmail.com</p>
                <p>Qualification: Degree</p>
                <p>Course: FSD</p>
                <p>Current Status: Job Seeking</p>
            </div>
            <div class="card shadow">
                <h4>Name: Amal</h4>
                <p>Email: amal521@gmail.com</p>
                <p>Qualification: Degree</p>
                <p>Course: FSD</p>
                <p>Current Status: Job Seeking</p>
            </div>
        </div>
    </div>
 </div> -->
 <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let job of jobs">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{job.Company_Name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{job.company}}</h6>
            <p class="card-text">{{job.Job_Title}}</p>
            <a href="" class="card-link">Apply Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>