<!-- 
<div class="home-container">
    <section class="home">

        <form action="" method="post">
            <h3>MANAGE JOB</h3>
            <p>Company Name</p>
            <input type="text" name="Company name" placeholder="enter Company name" required maxlength="15" class="input">
        
            <p>Job Title</p>
            <input type="text" name="job title" placeholder="job title" required maxlength="25" class="input">
        
            <p>Location</p>
            <input type="text" name="location" placeholder="location" required maxlength="25" class="input">
       
            <p>Salary</p>
           <input type="text" name="salary" placeholder="salary" required maxlength="10" class="input">
       
            <p>Employment Type</p>
          <input type="text" name="employment type" placeholder="employment type" required maxlength="10" class="input">
       
       <input type="submit" value="Update" class="btn">
        </form>
    </section>
</div>
 -->

 <div class="container p-5">
    <div class="row">
        <div class="col-3">
            <div class="card shadow">
                <h4>Name: Amal</h4>
                <p>Email: amal521@gmail.com</p>
                <p>Qualification: Degree</p>
                <p>Course: FSD</p>
                <p>Current Status: Job Seeking</p>
            </div>
            <div class="card shadow">
                <h4>Name: Amal</h4>
                <p>Email: amal521@gmail.com</p>
                <p>Qualification: Degree</p>
                <p>Course: FSD</p>
                <p>Current Status: Job Seeking</p>
            </div>
            <div class="card shadow">
                <h4>Name: Amal</h4>
                <p>Email: amal521@gmail.com</p>
                <p>Qualification: Degree</p>
                <p>Course: FSD</p>
                <p>Current Status: Job Seeking</p>
            </div>
            <div class="card shadow">
                <h4>Name: Amal</h4>
                <p>Email: amal521@gmail.com</p>
                <p>Qualification: Degree</p>
                <p>Course: FSD</p>
                <p>Current Status: Job Seeking</p>
            </div>
            <div class="card shadow">
                <h4>Name: Amal</h4>
                <p>Email: amal521@gmail.com</p>
                <p>Qualification: Degree</p>
                <p>Course: FSD</p>
                <p>Current Status: Job Seeking</p>
            </div>
            <div class="card shadow">
                <h4>Name: Amal</h4>
                <p>Email: amal521@gmail.com</p>
                <p>Qualification: Degree</p>
                <p>Course: FSD</p>
                <p>Current Status: Job Seeking</p>
            </div>
            <div class="card shadow">
                <h4>Name: Amal</h4>
                <p>Email: amal521@gmail.com</p>
                <p>Qualification: Degree</p>
                <p>Course: FSD</p>
                <p>Current Status: Job Seeking</p>
            </div>
            <div class="card shadow">
                <h4>Name: Amal</h4>
                <p>Email: amal521@gmail.com</p>
                <p>Qualification: Degree</p>
                <p>Course: FSD</p>
                <p>Current Status: Job Seeking</p>
            </div>
            <div class="card shadow">
                <h4>Name: Amal</h4>
                <p>Email: amal521@gmail.com</p>
                <p>Qualification: Degree</p>
                <p>Course: FSD</p>
                <p>Current Status: Job Seeking</p>
            </div>
        </div>
    </div>
 </div>
