<div class="main-top">
    <h1>JOB POST</h1>
    <i class="fas fa-user-cog"></i>
  </div>
  <div class="users">
    <div class="card">
      


    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-5">
          <!-- card -->
          <div class="card h-100 createbtn card-lift" (click)="openDialogue()">
              <!-- card body -->
              <div class="card-body " ></div>
              
                  <!-- heading -->
                  <div class="d-flex justify-content-between align-items-center mb-3">
                      <div>
                          <h4 class="mb-0">Adding Job</h4>
                      </div>
                      <div class="icon-shape icon-md bg-primary-soft text-primary rounded-2">
                        <i class="bi fa-2x bi-plus-square-fill"></i>
                      </div>
                  </div>
                  <!-- project number -->
                  <div class="lh-1">
                      <h1 class=" mb-1 fw-bold">Job Post</h1>
                      <p class="mb-0"><span class="text-dark me-2"></span></p>
                  </div>
              </div>
          </div>
      </div>
      


      <div class="cards">
        <!-- card header  -->
        <div class="card-header ">
            <h4 class="mb-0">Job Vaccancy</h4>
        </div>
        <!-- table  -->
        <div class="card-body">
        <div class="table-responsive table-card">
            <table class="table text-nowrap mb-0 table-centered table-hover">
                <thead class="table-dark">
                    <tr>
                        
                        <th>Company name</th>
                        <th>Job Title</th>
                        <th>Location</th>
                        <th>Salary</th>
                        <th>Employment type</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Corporate</td>
                    <td>Senior Web Developer</td>
                    <td>Mumbai</td>
                    <td>10k - 25k</td>
                    <td>Part-time</td>
                   
                  </tr>
                  <tr>
                    <td>Amazon</td>
                    <td>Junior Front-end Developer</td>
                    <td>Mumbai</td>
                    <td>20k - 25k</td>
                    <td>Fixed shift</td>
                  </tr>
                  <tr>
                    <td>Code exceptional</td>
                    <td>Senior Front-end Developer</td>
                    <td>Delhi</td>
                    <td>50k -65k</td>
                    <td>Fixed shift</td>
                  </tr>
                  <tr>
                    <td>Google</td>
                    <td>Full Stack Developer</td>
                    <td>Chennai</td>
                    <td>70k - 90k</td>
                    <td>Fixed shift</td>
                  </tr>
                  <tr>
                    <td>Travancore Analatics</td>
                    <td>Game Developer</td>
                    <td>Kochi</td>
                    <td>20k - 25k</td>
                    <td>Night shift</td>
                  </tr>
                  


              </tbody>
                </table>
              </div>
              </div>
              </div>

      
  </div>
</div>
    

