<!-- <div class="container">
  <div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural leadl content.-in to additiona</p>
      <p class="card-text">Requirments :</p>
      <ul>
        <ol>Test 1</ol>
        <ol>Test 1</ol>
        <ol>Test 1</ol>
        <ol>Test 1</ol>
        <ol>Test 1</ol>


      </ul>
      <a routerLink="#" class="btn btn-primary">Apply</a>
    </div>
  </div>
</div> -->


<section class="jobs-container ">
  <h1 class="heading">latest jobs</h1>
  
  <div class="box-container ">
      <!-- 1 -->
    <div class="box" *ngFor="let jobDetail of jobDetails">
          <div class="company">
              <img src="{{jobDetail.Company_Logo}}" alt="">
              <div>
                  <h3>{{jobDetail.Company_Name}}</h3>
                  <p>{{jobDetail.start_Date}}</p>
              </div>
          </div>
          <h3 class="job-title">{{jobDetail.Job_Title}}</h3>
          <p class="location"><i class="bi bi-geo-alt"></i>
              <span>{{jobDetail.Job_locaion}}</span></p>
      <div class="tags">
          <p><i class="bi bi-currency-rupee"></i><span>{{jobDetail.Salary}}</span></p>
          <p><i class="bi bi-briefcase"></i><span>Part-time</span></p>
          <p><i class="bi bi-clock"></i><span>Full-time</span></p>
     
      </div>
        <div class="flex-btn">
        <a class="btn" (click)="openSingleJobDetails(jobDetail)" >view details</a>
        <button type="submit" class="bi bi-suit-heart" name="save"></button>
        </div>
    </div>
  </div>
  
  <div style="text-align: center;margin-top: 1 rem; transform: scale(0.7);">
  <a href="" class="btn">view all</a></div>
  </section>
  