<div class="container">
  <div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural leadl content.-in to additiona</p>
      <p class="card-text">Requirments :</p>
      <ul>
        <ol>Test 1</ol>
        <ol>Test 1</ol>
        <ol>Test 1</ol>
        <ol>Test 1</ol>
        <ol>Test 1</ol>


      </ul>
      <a routerLink="#" class="btn btn-primary">Apply</a>
    </div>
  </div>
</div>