<div class="card">
    <div class="container">
        <form class="text-light" [formGroup]="data" (ngSubmit)="signupemployer()">
            <div class="mb-1 ">
              <label for="exampleInputEmail1" class="form-label">Company Name</label>
              <input type="email" class="form-control" formControlName="companyname">
            </div>
            <div class="mb-1 ">
              <label for="exampleInputEmail1" class="form-label">Company Logo Link</label>
              <input type="email" class="form-control" formControlName="link">
            </div>
            <div class="mb-1">
              <label for="exampleInputEmail1" class="form-label">HR Name</label>
              <input type="email" class="form-control"formControlName="hrname">
            </div>
            <div class="mb-1">
              <label for="exampleInputEmail1" class="form-label">Address</label>
              <input type="email" class="form-control"formControlName="address">
            </div>
            <div class="mb-1">
              <label for="exampleInputEmail1" class="form-label">Location</label>
              <input type="email" class="form-control" formControlName="location">
            </div>
            <div class="mb-1">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="mb-1">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>