<div class="row">
    <div class="col-5 border-end">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae praesentium vero explicabo fugit quisquam laudantium ipsum, quis laborum assumenda aliquam nemo iure qui ea omnis obcaecati? Est, repudiandae! Dolorem, odio?</div>
    <div class="col-7">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat suscipit quia fuga exercitationem aperiam in temporibus nemo adipisci ipsam, vero voluptate placeat obcaecati iste provident enim ullam nesciunt sed voluptatum!</div>
</div>