<div class="row">
    <div class="col-9 border-end">
        <div class="col border-bottom pb-2 home-content">
            HOME CONTEND HERE-HOME CONTEND HERE-HOME CONTEND HERE-HOME CONTEND HERE-HOME CONTEND HERE-HOME CONTEND HERE-HOME CONTEND HERE-HOME CONTEND HERE-HOME CONTEND HERE-HOME CONTEND HERE-HOME CONTEND HERE
            
        </div>
        <div class="col pt-2 event-post" id="scroll-container">
            <p id="scroll-text" style="color: red;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore accusantium provident, cupiditate perferendis hic laudantium </p>
            <p id="scroll-text" style="color: red;">This is scrolling text</p>
        </div>
    </div>
    <div class="col-3 text-center job-post">
        <!-- <ul class="list-group">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
            <li class="list-group-item">And a fifth one</li>
            <li class="list-group-item">And a fifth one</li>
            <li class="list-group-item">And a fifth one</li>
            <li class="list-group-item">And a fifth one</li>
            <li class="list-group-item">And a fifth one</li>
            <li class="list-group-item">And a fifth one</li>
            <li class="list-group-item">And a fifth one</li>
          </ul> -->

          <h4>Latest Job Vacancies</h4>
        
          <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">vacancies</th>
                  <th scope="col">Location</th>
                  <th scope="col">Last date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">FSD MEAN</th>
                  <td>20</td>
                  <td>Kozhikod</td>
                  <td>10/05/2023</td>
                </tr>
                <tr>
                  <th scope="row">FSD MERN</th>
                  <td>10</td>
                  <td>Kochi</td>
                  <td>10/05/2023</td>
                </tr>
                <tr>
                  <th scope="row">Graphic Designer</th>
                  <td>5</td>
                  <td>TVM</td>
                  <td>10/05/2023</td>
                </tr>
                <tr>
                  <th scope="row">Digital Marketing</th>
                  <td>12</td>
                  <td>Malappuram</td>
                  <td>10/05/2023</td>
                </tr>
                <tr>
                  <th scope="row">FSD MEAN</th>
                  <td>20</td>
                  <td>Kozhikod</td>
                  <td>10/05/2023</td>
                </tr>
                <tr>
                  <th scope="row">FSD MEAN</th>
                  <td>20</td>
                  <td>Kozhikod</td>
                  <td>10/05/2023</td>
                </tr>
                <tr>
                  <th scope="row">FSD MEAN</th>
                  <td>20</td>
                  <td>Kozhikod</td>
                  <td>10/05/2023</td>
                </tr>
                <tr>
                  <th scope="row">FSD MEAN</th>
                  <td>20</td>
                  <td>Kozhikod</td>
                  <td>10/05/2023</td>
                </tr>
                
                
              </tbody>
          </table>

    </div>
</div>