<div class="row">
    <div class="col-5 border-end">
        <div class="col border-bottom pb-2">HOME CONTEND HERE-HOME CONTEND HERE-HOME CONTEND HERE-HOME CONTEND HERE-HOME CONTEND HERE-HOME CONTEND HERE-HOME CONTEND HERE-HOME CONTEND HERE-HOME CONTEND HERE-HOME CONTEND HERE-HOME CONTEND HERE-</div>
        <div class="col pt-2">EVENT POST HERRE-EVENT POST HERRE-EVENT POST HERRE-EVENT POST HERRE-EVENT POST HERRE-EVENT POST HERRE-EVENT POST HERRE-EVENT POST HERRE-EVENT POST HERRE-EVENT POST HERRE-</div>
    </div>
    <div class="col-7 text-center">
        JOB POST HERE-JOB POST HERE-JOB POST HERE-JOB POST HERE-JOB POST HERE-JOB POST HERE-JOB POST HERE-JOB POST HERE-JOB POST HERE-JOB POST HERE-JOB POST HERE-JOB POST HERE-JOB POST HERE-JOB POST HERE-

    </div>
</div>