<div class="col-md-6 container">
    <h1 class="heading">Student Registration</h1>


<form>
    <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control">
      </div>

      <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control">
      </div>
      
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="example@gmail.com">
      </div>

  <div class="mb-3">
    <label class="form-label">Phone</label>
    <input type="tel" class="form-control">
  </div>


  <div class="mb-3">
    <label class="form-label">Highest Qualification</label>
    <input type="text" class="form-control">
  </div>

  <div class="mb-3">
    <label class="form-label">Course studied at ICTAK</label>
    <select class="form-select" aria-label="Default select example">
        <option selected disabled>Select course</option>
        <option value="FSD">FSD</option>
        <option value="DSA">DSA</option>
        <option value="ML-AI">ML-AI</option>
        <option value="RPA">RPA</option>
        <option value="ST">ST</option>
        <option value="CSA">CSA</option>
      </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Batch Details</label>
    <select class="form-select" aria-label="Default select example">
      <option selected disabled>Select Batch</option>
        <option value="KKEM">KKEM</option>
        <option value="NORKA">NORKA</option>
        <option value="KDISC">KDISC</option>
      </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Placement Status</label>
    <select class="form-select" aria-label="Default select example">
      <option selected disabled>Select</option>
        <option value="Placed">Placed</option>
        <option value="Job-Seeking">Job-Seeking</option>
      </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Company Name</label>
    <input type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
