
<div class="section-title">About Us</div>
<section class="about container">

    <img src="../../../assets/images/about1.jpg" alt="">
    <div class="box">
        <h3>Why choose us?</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi harum dolore porro in rem voluptatem praesentium cupiditate aspernatur quae, nihil ipsam adipisci sapiente provident consequuntur debitis fuga. Voluptates, totam ipsa?</p>
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero repudiandae minima quod pariatur non explicabo cum. Adipisci facilis repudiandae placeat voluptates, deserunt hic suscipit dicta eius dolor minima qui porro.</p>
    <a href="" class="btn">Contact Us</a>

</div>
</section>
