
<div class="home-container">
    <section class="home">

        <form [formGroup]="editform" (ngSubmit)="onSubmit()">
            <h3>MANAGE ACCOUNT</h3>
            <p>Company Name</p>
            <input type="text" name="companyname" placeholder="Company name" formControlName="companyname" required  class="input">
        
            <p>Company Logo Link</p>
            <input type="text" name="logo" placeholder="company logo" formControlName="link" required  class="input">
        
            <p>HR Name</p>
            <input type="text" name="name" placeholder="enter HR name" formControlName="hrname" required class="input">
       
            <p>Address</p>
            <input type="text" name="address" placeholder="address" formControlName="address" required  class="input">
       
            <p>Location</p>
            <input type="text" name="location" placeholder="location" formControlName="location" required  class="input">

            <p>Email</p>
            <input type="email" name="email" placeholder="enter your email address" formControlName="email" required  class="input">

            <p>Password</p>
            <input type="Password" name="password" placeholder="enter your password" formControlName="password" required  class="input">

       <input type="submit" value="Update" class="btn">
        </form>
    </section>
</div>
