
<div class="home-container">
    <section class="home">

        <form [formGroup]="editform" method="post">
            <h3>MANAGE ACCOUNT</h3>
            <p>Employer Name</p>
            <input type="text" name="title" placeholder="enter your name" required maxlength="15" class="input">
        
            <p>Designation</p>
            <input type="text" name="designation" placeholder="designation" required maxlength="25" class="input">
        
            <p>Email</p>
            <input type="text" name="email" placeholder="enter your email address" required maxlength="25" class="input">
       
            <p>Phone Number</p>
          
            <input type="text" name="phone" placeholder="phone number" required maxlength="10" class="input">
       
       <input type="submit" value="Update" class="btn">
        </form>
    </section>
</div>
