 <div class="main-top">
        <h1>MANAGE ACCOUNTS</h1>
        <i class="fas fa-user-cog"></i>
      </div>
      <div class="users">
        <div class="card">
          <!-- <h4>Add Acount </h4> <i class="bi bi-plus-circle text-end"></i> -->
<!-- 
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div>
                  <h4 class="">New Clients</h4>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="">
                  <i class="bi fa-lg bi-plus-circle text-end"></i>
                </div>
              </div>
            </div>
          </div> 
        </div>-->


        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-5">
              <!-- card -->
              <div class="card h-100 card-lift">
                  <!-- card body -->
                  <div class="card-body createbtn" (click)="openDialogue()">
                      <!-- heading -->
                      <div class="d-flex justify-content-between align-items-center mb-3">
                          <div>
                              <h4 class="mb-0">Create Account</h4>
                          </div>
                          <div class="icon-shape icon-md bg-primary-soft text-primary rounded-2">
                            <i class="bi fa-2x bi-person-plus-fill"></i>
                          </div>
                      </div>
                      <!-- project number -->
                      <div class="lh-1">
                          <h1 class=" mb-1 fw-bold">Employee</h1>
                          <p class="mb-0"><span class="text-dark me-2"></span></p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-5">
              <!-- card -->
              <div class="card h-100 card-lift">
                  <!-- card body -->
                  <div class="card-body createbtn" (click)="getaludata()">
                      <!-- heading -->
                      <div class="d-flex justify-content-between align-items-center mb-3">
                          <div>
                              <h4 class="mb-0">Search Account</h4>
                          </div>
                          <div class="icon-shape icon-md bg-primary-soft text-primary rounded-2">
                            <i class="bi fa-2x bi-person-plus-fill"></i>
                          </div>
                      </div>
                      <!-- project number -->
                      <div class="lh-1">
                          <h1 class=" mb-1 fw-bold">Alumni</h1>
                          <p class="mb-0"><span class="text-dark me-2"></span></p>
                      </div>
                  </div>
              </div>
          </div>
          


          <div class="cards">
            <!-- card header  -->
            <div class="card-header ">
                <h4 class="mb-0">List Of Company</h4>
            </div>
            <!-- table  -->
            <div class="card-body">
            <div class="table-responsive table-card">
                <table class="table text-nowrap mb-0 table-centered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <!-- <th class="selectbtn">

                              <select class="form-select" aria-label="Default select example">
                                <option selected>Select The Role</option>
                                <option value="2">Employee</option>
                                <option value="3">Alumni</option>
                              </select>

                            </th> -->
                            <th>Alumni Name</th>
                            <th>Email Address</th>
                            <th>Qualification</th>
                            <th>Course</th>
                            <th>Current Staus</th>
                            <th>Update</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of accounts">
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.name}}</td>
                        
                        <td class="text-danger deletebtn">
                          <div class="testing">
                            <span class="bi bi-trash3"></span> Delete
                          </div>
                        </td>
                      </tr>
                      <!-- <tr>
                        <td>Akhil</td>
                        <td>amal521@gmail.com</td>
                        <td>Degree</td>
                        <td>CSA</td>
                        <td>Job Seeking</td>
                        <td class="text-danger deletebtn">
                          <div class="testing">
                            <span class="bi bi-trash3"></span> Delete
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Akash</td>
                        <td>akash455@gmail.com</td>
                        <td>Degree</td>
                        <td>CSA</td>
                        <td>Job Seeking</td>
                        <td class="text-danger deletebtn">
                          <div class="testing">
                            <span class="bi bi-trash3"></span> Delete
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Anjal</td>
                        <td>amal521@gmail.com</td>
                        <td>Degree</td>
                        <td>CSA</td>
                        <td>Job Seeking</td>
                        <td class="text-danger deletebtn">
                          <div class="testing">
                            <span class="bi bi-trash3"></span> Delete
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Aswin</td>
                        <td>amal521@gmail.com</td>
                        <td>Degree</td>
                        <td>CSA</td>
                        <td>Job Seeking</td>
                        <td class="text-danger deletebtn">
                          <div class="testing">
                            <span class="bi bi-trash3"></span> Delete
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Anamika</td>
                        <td>amal521@gmail.com</td>
                        <td>Degree</td>
                        <td>CSA</td>
                        <td>Job Seeking</td>
                        <td class="text-danger deletebtn">
                          <div class="testing">
                            <span class="bi bi-trash3"></span> Delete
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Ambili</td>
                        <td>amal521@gmail.com</td>
                        <td>Degree</td>
                        <td>CSA</td>
                        <td>Job Seeking</td>
                        <td class="text-danger deletebtn">
                          <div class="testing">
                            <span class="bi bi-trash3"></span> Delete
                          </div>
                        </td>
                      </tr> -->



                  </tbody>
                    </table>
                  </div>
                  </div>
                  </div>

          
      </div>

        



        <!-- <div class="card">
          <img src="./pic/img2.jpg">
          <h4>Balbina kherr</h4>
          <p>Progammer</p>
          <div class="per">
            <table>
              <tr>
                <td><span>82%</span></td>
                <td><span>85%</span></td>
              </tr>
              <tr>
                <td>Month</td>
                <td>Year</td>
              </tr>
            </table>
          </div>
          <button>Profile</button>
        </div>
        <div class="card">
          <img src="./pic/img3.jpg">
          <h4>Badan John</h4>
          <p>tester</p>
          <div class="per">
            <table>
              <tr>
                <td><span>94%</span></td>
                <td><span>92%</span></td>
              </tr>
              <tr>
                <td>Month</td>
                <td>Year</td>
              </tr>
            </table>
          </div>
          <button>Profile</button>
        </div>
        <div class="card">
          <img src="./pic/img4.jpg">
          <h4>Salina micheal</h4>
          <p>Ui designer</p>
          <div class="per">
            <table>
              <tr>
                <td><span>85%</span></td>
                <td><span>82%</span></td>
              </tr>
              <tr>
                <td>Month</td>
                <td>Year</td>
              </tr>
            </table>
          </div>
          <button>Profile</button>
        </div>
      </div>  -->