<div class="card">
    <div class="container">
        <form class="text-light" [formGroup]="jobform" (ngSubmit)="onSubmit()">
            <div class="mb-1 ">
              <label for="exampleInputEmail1" class="form-label">Company Name</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-1">
              <label for="exampleInputEmail1" class="form-label">Job Title</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-1">
              <label for="exampleInputEmail1" class="form-label">Location</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-1">
              <label for="exampleInputEmail1" class="form-label">Salary</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-1">
              <label for="exampleInputEmail1" class="form-label">Employment Type</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>
