.home-container{
    /* background:url('../../../../assets/images/update1.avif'), rgba(0,0,0,.7) no-repeat; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: color;
    background-color: #0a0a0a;
}

.home-container .home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.home-container .home form{
    background-color: #0a0a0a;
    width: 25rem;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
}
.home-container .home form:hover{
    transform: translateY(-6px);
    transform: translatex(-6px);

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    /* cursor: pointer; */
}

.home-container .home form h3{
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: .5rem;
    text-transform: capitalize;
}

.home-container .home form p{
    text-align: left;
    font-size: 1rem;
    color: #777;
    padding-top: .01rem;
}

.home-container .home form .input{
    width: 100%;
    border-radius: .5rem;
    margin: .5rem ;
    background-color: #eee;
    padding: .5rem;
    font-size: 1rem;
    color: black;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem ;
    cursor: pointer;
    font-size: 1rem;
    color: black;
    background-color: white;
    border-radius: .5rem;
    text-transform: capitalize;
    text-align: center;
}
.btn:hover{
    background-color: black;
    color: #fff;
}