



<form [formGroup]="item" (ngSubmit)="onSubmitpost()">
  <div class="input-field">
    <input type="text" class="input" placeholder="Company_Logo" required formControlName="Company_Logo">
  </div>
  <div class="input-field">
    <input type="text" class="input" placeholder="Company_Name" required formControlName="Company_Name">
  </div>
  <div class="input-field">
    <input type="text" class="input" placeholder="Job_Title" required formControlName="Job_Title">
  </div>
  <div class="input-field">
    <input type="text" class="input" placeholder="Job_locaion" required formControlName="Job_locaion">
  </div>
  <div class="input-field">
    <input type="text" class="input" placeholder="Salary" required formControlName="Salary">
  </div>
  <div class="input-field">
    <input type="text" class="input" placeholder="job_skill" required formControlName="job_skill">
  </div>
  <div class="input-field">
    <input type="text" class="input" placeholder="start_Date" required formControlName="start_Date">
  </div>
  <div class="input-field">
    <input type="text" class="input" placeholder="description" required formControlName="description">
  </div>
  <div class="input-field">
    <input type="text" class="input" placeholder="Employment_Type" required formControlName="Employment_Type">
  </div>






<div class="home-container">
  <section class="home">

      <form [formGroup]="jobForm" (ngSubmit)="submitJob()">
          <h3>MANAGE ACCOUNT</h3>
          <p>Company_logo</p>
          <input type="text" name="companyname" placeholder="Company name" formControlName="logo" required  class="input">
      
          <p>Company_Name</p>
          <input type="text" name="logo" placeholder="company logo" formControlName="name" required  class="input">
      
          <p>Job_Title</p>
          <input type="text" name="name" placeholder="enter HR name" formControlName="title" required class="input">
     
          <p>Job_location</p>
          <input type="text" name="address" placeholder="address" formControlName="location" required  class="input">
     
          <p>start_Date</p>
          <input type="text" name="location" placeholder="location" formControlName="date" required  class="input">

          <p>Salary</p>
          <input type="email" name="email" placeholder="salary" formControlName="salary" required  class="input">

          <p>job_skill</p>
          <input type="Password" name="password" placeholder="enter job skill" formControlName="skill" required  class="input">

          <p>Employment_Type</p>
          <input type="Password" name="password" placeholder="Employment Type" formControlName="type" required  class="input">

          <p>description</p>
          <input type="Password" name="password" placeholder="description" formControlName="description" required  class="input">
     <input type="submit" value="ADD" class="btn">
      </form>
  </section>
</div>
